// ============================================================================
// SETTINGS: #Settings
// ============================================================================


// Colors
// ============================================================================

$gold:      #ecd078; // rgb(236, 208, 120)
$orange:    #d95b43; // rgb(217,  91,  67)
$red:       #c02942; // rgb(192,  41,  66)
$purple:    #542437; // rgb( 84,  36,  55)
$grey-blue: #53777a; // rgb( 83, 119, 122)
$white:     #fff;    // rgb(255, 255, 255)
$black:     #000;    // rgb(  0,   0,   0)